{% extends "base.html" %}

{% block page_heading %}<h1># Projects</h1>{% endblock %}

{% block content %}
{% if projects %}
<ul class="task-list">
    {% for project in projects %}
    <li class="task-item">
        - <a href="/">{{ project.name }}</a>
        <span class="meta">{{ project.created_at[:10] }}</span>
        <span class="actions">
            <a href="/projects/{{ project.id }}/delete" onclick="return confirm('Delete project and all tasks?')">[x]</a>
        </span>
    </li>
    {% endfor %}
</ul>
{% else %}
<p class="meta">No projects yet.</p>
{% endif %}

<form class="quick-add" action="/projects/new" method="post" style="margin-top: 16px;">
    <input type="text" name="name" placeholder="- new project (press Enter)" autocomplete="off" required>
</form>

<a href="/" class="back-link">[Back to tasks]</a>
{% endblock %}
